# dependencies
/node_modules
/dist
server/controllers/jssdk/access_token.json
server/controllers/jssdk/jsapi_ticket.json

# IDEs and editors
/.idea
.vscode/
.project
.classpath
*.launch
.settings/

#System Files
*.DS_Store
Thumbs.db

*.log

.sass-cache

bin/www-local
