body{
	background: #056457;
	box-sizing: border-box;
}
.content{
	width:100%;
	max-width: 640px;
	margin:0 auto;
	background:url("../../image/father/bg-full.png") no-repeat;
	background-size:100% 100%;
}
.Grateful-father{
	width:85%;
	height:7rem;
	background:url("../../image/father/index_03.png") no-repeat bottom;
	background-size:contain;
	margin: 0 auto;
	padding-top: 1.75rem;
}
.card-envelope{
	width:85%;
	height:9rem;
	background:url("../../image/father/index_05.png") no-repeat center center;
	background-size:contain;
	margin: 0 auto;
}
.arrows{
	width:100%;
	height:2.575rem;
	position:relative;
	span{
		display:inline-block;
		width:3.075rem;
		height:2.575rem;
		margin:0 auto;
		position:absolute;
		left:50%;
		top:0;
		margin-left:-1.535rem;
		z-index:2;
		background:url("../../image/father/arrows.png") no-repeat center;
		background-size: cover;
		animation:myfirst 1s linear infinite;
		-moz-animation:myfirst 1s linear infinite; /* Firefox */
		-webkit-animation:myfirst 1s linear infinite; /* Safari and Chrome */
		-o-animation:myfirst 1s linear infinite; /* Opera */
	}
}

@keyframes myfirst
{
	0%   {left:50%; top:0rem;}
	25%  {left:50%; top:0.2rem;}
	50%  {left:50%; top:0.4rem;}
	75%  {left:50%; top:0.2rem;}
	100% {left:50%; top:0rem;}
}

.make{
	display: block;
	width:11.725rem;
	height:4.05rem;
	background:url("../../image/father/makegreetingcard.png") no-repeat center;
	background-size: cover;
	margin-left:2.5rem;
	margin-top:-0.5rem;
}