<!DOCTYPE html>
<html lang="en">

<head>
  <title>讲座详情</title>
  <% include ../layout/layout %>
  <link rel="stylesheet" href="<%=_src('/css/lecture/detail.min.css')%>">
</head>

<body>
    <div class="detail-container">
      <div class="page__hd">
          <h2 class="page__title">高血栓负荷处理对策</h2>
          <p class="page__desc">2016-11-21 西子 <a href="">全程心管家</a> </p>
      </div>
      <div class="page__bd">
          <p>
            <img src="http://img04.tooopen.com/images/20130712/tooopen_17270713.jpg" alt="">
          </p>
          <article class="weui-article">
              <section>
                <p>
                    11月2日19:30，国家心血管病中心社区防治部王兴副教授
                    在上海市城建大厦进行讲座，主要内容为高血栓负荷出炉
                    对策，机会难得，期待各位朋友的积极参与。
                </p>
                <div class="article-span"><span>专家: </span>国家心血管病中心王兴副教授</div>
                <div class="article-span"><span>专家: </span>国家心血管病中心王兴副教授</div>
                <div class="article-span"><span>专家: </span>国家心血管病中心王兴副教授</div>
                <div class="article-span"><span>专家: </span>国家心血管病中心王兴副教授</div>
              </section>
              <div class="weui-btn weui-btn_mini weui-btn_primary">专家简介</div>
              <section>
                  <p>
                      王兴，国家心脑血中心，中国医学科学院医院，助理研究员。
                  </p>
              </section>
          </article>
          <footer>
            <div class="footer-apply">猛戳“阅读原文”，注册后进行报名！</div>
            <div><a href="">阅读原文</a> 阅读 499</div>
          </footer>
      </div>
    </div>
</div>
</body>

</html>