<!DOCTYPE html>
<html lang="en">

<head>
  <title>报名成功</title>
  <% include ../layout/layout %>
  	<link rel="stylesheet" href="<%=_src('/css/lecture/lecture-apply.min.css')%>">
</head>

<body>
	  <div class="lecture-container">
	    <div class="success">
        恭喜您，报名成功！
      </div>
      <div class="success">
        <img src="http://pci.xlab-tech.com/pci/picture1467613263150mmexport1467613286108.jpg">
      </div>
      <p class="lecture-success">如需了解已报名的信息，请点击“报名信息”查看</p>
	  </div>
</body>

</html>