<!DOCTYPE html>
<html lang="en">

<head>
  <title>登录成功通知</title>
  <% include ../layout/layout-none %>
</head>

<body style="color: #666">
  <article class="weui-article">
    <h1 style="color: #333">登录成功通知</h1>
    <section>
      <span style="position: relative;bottom: 7px;font-size: 14px;color: #999">2016年11月11日</span>
      <p>
        亲爱的<%=username%>，您已成功登录全程心管家。您可以在“风险评估”、“免费讲座”、“心管家”体验我们的服务。
      </p>
    </section>
  </article>
</body>

</html>
