<!DOCTYPE html>
<html lang="en">

<head>
    <title>全程心管家</title>
    <% include ../layout/layout %>
    <link rel="stylesheet" href="<%= _src('/css/basic/basic.min.css') %>">
    <script src="<%= _src('/lib/validform/Validform_v5.3.2_min.js') %>"></script>
</head>

<body>
<div style="text-align: center;font-size: 16px">
    <i class="weui-icon-success weui-icon_msg" style="width: 100px;height: 100px;margin-top: 50px"></i>
    <p style="">张瑞岩医生已经同意您的报到申请</p>
    <div style="margin-top: 30px;background-color: white;width: 100%;height: 90px;">
        <div style="height:24px;border-bottom: 1px solid #ececec;padding: 10px 15px;"><span
                    style="color: #333;float: left">医生姓名</span><span style="color: #999;float: right">张瑞岩</span></div>
        <div style="height:34px;padding: 10px 15px;"><span style="color: #333;float: left">就诊日期</span><span
                    style="color: #999;float: right">2017-03-12 10:24</span></div>
    </div>
</div>
<div class="dc-check-in">
    <div class="dc-top">
        <div class="dc-middle">
            <span class="dc-number dc-num1">1</span><span class="dc-top-title">向医生报到</span>
            <img class="dc-top-img" style="height: 12px;margin-top: 5px;"
                 src="<%= _src('/image/arrows.png') %>">
            <span class="dc-number dc-num2">2</span><span class="dc-top-title">注册登录</span>
        </div>
    </div>
    <div style="background-color: white;height: 175px;padding: 10px 15px;">
        <div style="height: 95px;border-bottom: 1px dotted #dfdfdf;">
            <div style="float: left;width: 30%"><img src="<%= _src('/image/doctor.png') %>"
                                                     style="width: 70px;height: 70px;"></div>
            <div style="float: left;width: 60%;">
                <p style="font-size: 17px;color: #333;">张瑞岩</p>
                <p style="font-size: 14px;color: #999">心内科</p>
                <p style="font-size: 14px;color: #999">上海市交通大学医学院附属瑞金医院</p>
            </div>
        </div>
        <div style="height: 87px;padding: 10px 0;"><p style="font-size: 14px;color: #999;">
                患者你好！我是张瑞岩医生，若您曾在我这就诊过，请完整填写个人信息。如有出院小结等资料，请一并拍照上传！</p></div>
    </div>
    <div style="height: 90px;margin-top: 10px;background-color: white;font-size: 16px;">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label" style="color: #333;">真实姓名</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" pattern="" style="color: #999;" placeholder="请填写"/>
            </div>
        </div>
        <div class="weui-cell" style="border-top: 1px solid #ececec;">
            <div class="weui-cell__hd"><label for="" class="weui-label" style="color: #333;">就诊日期</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="date" value="" style="color: #999;"/>
            </div>
        </div>
    </div>
    <div style="background-color: white;margin-top: 10px;padding: 10px 15px;">
        <div class="weui-cells__title" style="font-size: 14px;color: #666;">申请描述</div>
        <div class="weui-cells weui-cells_form"
             style="border-radius: 4px;border-left: 1px solid #ececec;border-right: 1px solid #ececec;">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" style="font-size: 14px;color: #999;"
                              placeholder="请简单描述自己的就诊情况。例如：我是XXX，从2017年10月20日住进瑞金医院1508号床，10月25日进行了PCI手术。"
                              rows="3"></textarea>
                    <div class="weui-textarea-counter"><span>0</span>/200</div>
                </div>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__hd">
                        <p class="weui-uploader__title" style="font-size: 14px;color: #ccc;">添加病历出院小结等照片</p>
                        <div class="weui-uploader__info">0/9</div>
                    </div>
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                        <div class="weui-uploader__input-box">
                            <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-cell weui-cell_switch" style="margin-top: 10px;background-color: white;color: #333;">
        <div class="weui-cell__bd">允许医生查看我的全部病例</div>
        <div class="weui-cell__ft">
            <label for="switchCP" class="weui-switch-cp">
                <input id="switchCP" class="weui-switch-cp__input" type="checkbox" checked="checked"/>
                <div class="weui-switch-cp__box"></div>
            </label>
        </div>
    </div>
    <a href="javascript:;" class="weui-btn weui-btn_primary"
       style="margin: 20px;border-radius: 5px;background-color: #35B2F2;">立即申请</a>
</div>
</div>
</body>
</html>
<style>
    .weui-cell:before {
        border-top: none;
    }

    .dc-top {
        font-size: 14px;
        color: #35B2F2;
        height: 30px;
        margin: 10px 0 5px 0;
        text-align: center;
    }

    .dc-middle {
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }

    .dc-number {
        height: 20px;
        width: 20px;
        background-color: white;
        border-radius: 20px;
        border: 2px solid #35B2F2;
        text-align: center;
        float: left;
        /*margin-left: 3%;*/
    }

    .dc-num2 {
        margin-left: 4%;
    }

    .dc-top-title {
        float: left;
        margin-left: 2%;
        /*margin-right: 5%;*/
    }

    .dc-top-img {
        width: 13%;
        height: 30px;
        float: left;
        margin-left: 4%;
    }
</style>
<script type="text/javascript">
    $(function () {
        var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
            $gallery = $("#gallery"), $galleryImg = $("#galleryImg"),
            $uploaderInput = $("#uploaderInput"),
            $uploaderFiles = $("#uploaderFiles")
        ;

        $uploaderInput.on("change", function (e) {
            var src, url = window.URL || window.webkitURL || window.mozURL, files = e.target.files;
            for (var i = 0, len = files.length; i < len; ++i) {
                var file = files[i];
                2

                if (url) {
                    src = url.createObjectURL(file);
                } else {
                    src = e.target.result;
                }

                $uploaderFiles.append($(tmpl.replace('#url#', src)));
            }
        });
        $uploaderFiles.on("click", "li", function () {
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
        });
        $gallery.on("click", function () {
            $gallery.fadeOut(100);
        });
    });
</script>