
<!DOCTYPE html>
<html lang="en">

<head>
  <title>全程心管家</title>
  <% include ../layout/layout %>
  <style>
    .weui-uploader__file{
      float: left;
      margin-right: 9px;
      margin-bottom: 9px;
      width: 79px;
      height: 79px;
      background: no-repeat 50%;
      background-size: cover;
    }
  </style>
  <script type="text/javascript">
    var pathName = "<%=_src('')%>"//获取当前Url
    wxconfig();
      //ajax请求config配置参数
    function wxconfig() {
      $.ajax({
       type: "get",
       url: pathName+"/signature",
       data: {url:location.href},
       success: function(msg){
          //配置微信JS-SDK
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: msg.appId, // 必填，公众号的唯一标识
            timestamp:msg.timestamp , // 必填，生成签名的时间戳
            nonceStr: msg.nonceStr, // 必填，生成签名的随机串
            signature: msg.signature,// 必填，签名，见附录1
            jsApiList: ['onMenuShareAppMessage','onMenuShareTimeline','chooseImage', 'uploadImage', 'downloadImage', 'getLocalImgData', 'previewImage', 'getNetworkType'],// 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
       },
       error:function(err){
          console.log(err);
       }
      });
    };
  </script>
</head>

<body style="background-color:#f6f6f6">
  <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
          <div class="weui-cell__bd">
              <div class="weui-uploader">
                  <div class="weui-uploader__hd">
                      <p class="weui-uploader__title">图片上传</p>
                      <div class="weui-uploader__info">0/2</div>
                  </div>
                  <div class="weui-uploader__bd">
                      <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                      <div class="weui-uploader__input-box" onclick="uploadImg()"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
<script>
  var count = 0;
  function uploadImg() {
    wx.ready(function(){
      wx.chooseImage({
          count: 9, // 默认9
          sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
          sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
          success: function (res) {
           var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
           for (let i = 0; i < localIds.length; i++) {
              $("#uploaderFiles").append(`<li class="weui-uploader__file image" id="${count+i}"><img class="img-responsive" width="100%" src="${localIds[i]}"></li>`) 
              window.setTimeout(serverImg(localIds[i]), 100)
           }
           count = count + localIds.length;
          }
      });
    });
  }
  function serverImg(data) {
    wx.uploadImage({
        localId: data.toString(), // 需要上传的图片的本地ID，由chooseImage接口获得
        isShowProgressTips: 1, // 默认为1，显示进度提示
        success: function (res) {
            var serverId = res.serverId; // 返回图片的服务器端ID
            ajax(serverId)
        }
    });
  }
  // 预览图片
   $('#uploaderFiles').on("click", "li", function(event) {//绑定图片点击事件
            var thisimg = $(this).children().attr('src');
            var imglist = $('#uploaderFiles');
            var srcs = new Array();
            for (let i =0; i < imglist.length; i++) {
            
                srcs.push(imglist.eq(i).attr('src'));
            
            }
            
      
            wx.ready(function(){
                wx.previewImage({
                  current: 'https://api.weixin.qq.com/cgi-bin/media/get?access_token=Sb3Y66lyJYWUvBDjhzq15VkxclhReXQ1RkeJp0v8ZqJoZ6CRHlfoFs3B1ejJiHEfEqvjKgAf5P_kbiFXsUxbUwRb52NZytZfe9rcxgazLpCeWPnYnOyQ5EK9KAlKOQqdSWJgADAIMZ&media_id=iaXXlJ2r9adMON-8tMP4sOjhYyfe6s9xdcU3kl86Z5aAS7xGrCMkVkAoleLw0eHg', // 当前显示图片的http链接
                  urls: ['https://api.weixin.qq.com/cgi-bin/media/get?access_token=Sb3Y66lyJYWUvBDjhzq15VkxclhReXQ1RkeJp0v8ZqJoZ6CRHlfoFs3B1ejJiHEfEqvjKgAf5P_kbiFXsUxbUwRb52NZytZfe9rcxgazLpCeWPnYnOyQ5EK9KAlKOQqdSWJgADAIMZ&media_id=iaXXlJ2r9adMON-8tMP4sOjhYyfe6s9xdcU3kl86Z5aAS7xGrCMkVkAoleLw0eHg'] // 需要预览的图片http链接列表
                });
            });   
    }); 
  // function downloadImage(serverId) {
  //   wx.downloadImage({
  //       serverId: serverId, // 需要下载的图片的服务器端ID，由uploadImage接口获得
  //       isShowProgressTips: 1, // 默认为1，显示进度提示
  //       success: function (res) {
  //           var localId = res.localId; // 返回图片下载后的本地ID
  //           getLocalImgData(localId)
  //       }
  //   });
  // }
  // function getLocalImgData(localId) {
  //   wx.getLocalImgData({
  //       localId: '' + localId, // 图片的localID
  //       success: function (res) {
  //         var localData = res.localData; // localData是图片的base64数据，可以用img标签显示
  //          // for (let i = 0; i < localData.length; i++) {
  //          //  $("#uploaderFiles").append(`<li class="weui-uploader__file image" id="${count+i}"><img class="img-responsive" width="100%" src="${localData[i]}"></li>`)
  //          // }
  //          console.log(localData)
  //          count = count + localId.length; 
  //       }
  //   });
  // }

  function ajax(serverId) {
    $.ajax({
      url: pathName +'/uploadimg',
      type: 'get',
      data: {media_id: serverId},
      success: function (msg) {
        console.log(msg.url);
      },
      error: function (err) {
        console.log(err)
      }
    })
  }
  
</script>
</html>
