
<!DOCTYPE html>
<html lang="en">

<head>
  <title>全程心管家</title>
  <% include ../layout/layout %>
  <style>
    .weui-uploader__file{
      position: relative;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      width: 79px;
      height: 79px;
      background: no-repeat 50%;
      background-size: cover;
    }
    .weui-uploader__file i{
      position: absolute;
      right: -12px;
      top: -10px;
      z-index: 10;
      width: 30px;
      height: 30px;
    }
    .weui-uploader__bd{
      overflow: inherit;
    }
  </style>
  <script type="text/javascript">
    var pathName = "<%=_src('')%>"//获取当前Url
    wxconfig();
      //ajax请求config配置参数
    function wxconfig() {
      $.ajax({
       type: "get",
       url: pathName+"/signature",
       data: {url:location.href},
       success: function(msg){
          //配置微信JS-SDK
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: msg.appId, // 必填，公众号的唯一标识
            timestamp:msg.timestamp , // 必填，生成签名的时间戳
            nonceStr: msg.nonceStr, // 必填，生成签名的随机串
            signature: msg.signature,// 必填，签名，见附录1
            jsApiList: ['onMenuShareAppMessage','onMenuShareTimeline','chooseImage', 'uploadImage', 'downloadImage', 'getLocalImgData', 'previewImage', 'getNetworkType'],// 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
       },
       error:function(err){
          console.log(err);
       }
      });
    };
  </script>
</head>

<body style="background-color:#f6f6f6" ontouchstart>
  <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
          <div class="weui-cell__bd">
              <div class="weui-uploader">
                  <div class="weui-uploader__hd">
                      <p class="weui-uploader__title">图片上传</p>
                      <div class="weui-uploader__info"><span id="number">0</span>/9</div>
                  </div>
                  <div class="weui-uploader__bd">
                      <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                      <div class="weui-uploader__input-box add"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="page__bd page__bd_spacing upload_img">
        <a href="javascript:;" class="weui-btn weui-btn_primary" id="uploaderCustomBtn">确定上传</a>
      </div>
  </div>
</body>
<script>
  var count = 0;
  var number = 0;
  var imglist = [];
  var uploadCustomFileList = [];

  function ajax(imglist) {
    $.ajax({
      url: pathName +'/uploadimg',
      type: 'post',
      data: JSON.stringify(imglist),
      success: function (msg) {
        console.log(msg);
      },
      error: function (err) {
        alert(err)
        console.log(err)
      }
    })
  }

  $('.weui-uploader__input-box').on('click', function () {
    wx.chooseImage({
        count: 9, // 默认9
        sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
        sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
        success: function (res) {
          var localIds = res.localIds;
          for (let i = 0; i < localIds.length; i++) {
            uploadCustomFileList.push({id: count + i, url: localIds[i]});
            $("#uploaderFiles").append(`<li class="weui-uploader__file image" id="${count+i}"><i class="weui-icon-cancel delete"></i><img class="img-responsive" style="width:79px;height:79px;" src="${localIds[i]}"></li>`)
            number++;
            if (number >= 9) {
              $(".add").fadeOut(100)
              break;
            }
          }
          count = count + localIds.length;
          
          $("#number").text(number)
        }
    });
  });


  $("#uploaderCustomBtn").on('click', function(){
    let urlList = [];
    uploadCustomFileList.forEach(function(file){
      urlList.push(file.url)
      if (urlList.length === number) {
        syncUpload(urlList);
      }
    });
  })

  $("#uploaderFiles").on('click', '.delete', function(e){
    var id = $(this).parent().attr('id')
    weui.confirm('确定删除该图片？', function(){
      --number;
      $('#number').text(number);
      if (number < 9) {
        $(".add").fadeIn(100)
      }
      var index;
      for (let i = 0, len = uploadCustomFileList.length; i < len; ++i) {
        var file = uploadCustomFileList[i];
        if(file.id == id){
          index = i;
          break;
        }
      }
      if(index !== undefined) uploadCustomFileList.splice(index, 1);

      e.target.parentNode.remove();
    });
  });

var syncUpload = function(localIds){
    var localId = localIds.pop();
    wx.uploadImage({

        localId: localId,

        isShowProgressTips: 1,

        success: function (res) {

            var serverId = res.serverId; // 返回图片的服务器端ID
            imglist.push(serverId)
            if (imglist.length === number) {
              ajax(imglist)
            }
            //其他对serverId做处理的代码

            if(localIds.length > 0){
                syncUpload(localIds);
            }
        }
    });
};

  
</script>
</html>
