<!DOCTYPE html>
<html lang="en">

<head>
  <title>弗明汉心脏风险评估</title>
  <% include ../layout/layout %>
  <link rel="stylesheet" href="<%=_src('/css/assessment/assessment.min.css')%>">
  <script src="<%=_src('/lib/picker/picker.min.js')%>"></script>
</head>
<body>
  <p class="risk-top">弗明汉心脏病研究（Framingham Heart Study）名十年心脏病风险评估，是根据胆固醇水平和非胆固醇因素计算个体未来十年冠心病发作几率的方法。</p>
  <div class="showPicker"><a>1 您的性别</a>
        <span id="showSex"></span>
  </div>
  <div class="showPicker">2 您的年龄
        <input type="tel" name="inputAge" id="age">
  </div>
  <div class="showPicker">3 您是否吸烟
        <span id="showSmoke"></span>
  </div>
  <div class="showPicker">4 您是否有一级亲属有冠心病史
  <img src="" id="showIOSDialog2">
        <span id="showRelative"></span>
  </div>
  <div class="showPicker">5 您的血压
        <input type="tel" name="inputLowPressure" value="高压"><div style="float:right">mmHg</div>
        <input type="tel" name="inputHighPressure" value="低压"><div style="float:right">mmHg</div>
  </div>
  <div class="showPicker">6 您是否有过糖尿病
        <span id="showDiabetes"></span>
  </div>
  <div class="showPicker">7 您是否有心脏病
        <span id="showCardiopathy"></span>
  </div>
  <div class="showPicker">8 您是否做过搭桥手术
        <span id="showSurgery"></span>
  </div>
  <div class="showPicker">9 您心脏以外动脉是否硬化
        <span id="showArteriosclerosis"></span>
  </div>
  <input id="title" type="text" name="title" class="display">
  <div class="account-btn">
      <button type="button" class="weui-btn weui-btn_primary">提交</button>
  </div>
 <div id="dialogs">
   <div class="js_dialog" id="iosDialog2" style="display: none;">
      <div class="weui-mask"></div>
      <div class="weui-dialog">
      <div class="weui-dialog__hd"><strong class="weui-dialog__title">一级亲属和冠心病史</strong></div>
        <div class="weui-dialog__bd">
          <div><a>一级亲属：</a><a>是一个人的父母，子女以及兄弟姐妹（同父母）</a></div>
          <div><a style="display:block;float:left;">冠心病史：</a><p><a style="display:block;"><55岁男性发生冠心病史</a><a><65岁女性发生冠心病史</a></p></div>
        </div>
        <div class="weui-dialog__ft">
          <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">关闭</a>
        </div>
     </div>
   </div>
 </div>

<script type="text/javascript">
    $(function(){
        var $iosDialog2 = $('#iosDialog2')

        $('#dialogs').on('click', '.weui-dialog__btn', function(){
            $(this).parents('.js_dialog').fadeOut(200);
        });
        $('#showIOSDialog2').on('click', function(){
            $iosDialog2.fadeIn(200);
        });
    });

  var showSex = document.getElementById('showSex');
  var showSmoke = document.getElementById('showSmoke');
  var showRelative = document.getElementById('showRelative');
  var showDiabetes = document.getElementById('showDiabetes');
  var showCardiopathy = document.getElementById('showCardiopathy');
  var showSurgery = document.getElementById('showSurgery');
  var showArteriosclerosis = document.getElementById('showArteriosclerosis');

  var dataSex = [{
    text: '男',
    value: 1
  }, {
    text: '女',
    value: 2
  }]
  
  var dataIsSmoke = [{
    text: '是',
    value:1
  },{
    text: '否',
    value:2
  }]
  
  var dataIsSurgery = [{
    text: '是',
    value:1
  },{
    text: '否',
    value:2
  }]
  
  var dataIsDiabetes = [{
    text: '是',
    value:1
  },{
    text: '否',
    value:2
  }]
  
  var dataIsCardiopathy = [{
    text: '是',
    value:1
  },{
    text: '否',
    value:2
  }]
  
  var dataIsKnowRelative = [{
    text: '是',
    value:1
  },{
    text: '否',
    value:2
  },{
    text: '不知道',
    value:3
  }]
  
  var dataIsKnowArteriosclerosis = [{
    text: '是',
    value:1
  },{
    text: '否',
    value:2
  },{
    text: '不知道',
    value:3
  }]

  var pickerSex = new Picker({
    data: [dataSex],
    selectedIndex: [0],
    title: '您的选择'
  });
  
  var pickerIsSmoke = new Picker({
    data: [dataIsSmoke],
    selectedIndex: [0],
    title: '您的选择'
  });
  
  var pickerIsSurgery = new Picker({
    data: [dataIsSurgery],
    selectedIndex: [0],
    title: '您的选择'
  });
  
  var pickerIsDiabetes = new Picker({
    data: [dataIsDiabetes],
    selectedIndex: [0],
    title: '您的选择'
  });
  
  var pickerIsCardiopathy = new Picker({
    data: [dataIsCardiopathy],
    selectedIndex: [0],
    title: '您的选择'
  });
  
  var pickerIsKnowRelative = new Picker({
    data: [dataIsKnowRelative],
    selectedIndex: [0],
    title: '您的选择'
  });
  
  var pickerIsKnowArteriosclerosis = new Picker({
    data: [dataIsKnowArteriosclerosis],
    selectedIndex: [0],
    title: '您的选择'
  });

  pickerSex.on('picker.select', function(selectedVal, selectedIndex) {
    showSex.innerText = dataSex[selectedIndex[0]].text;
    if (dataSex[selectedIndex].value == 2) {
      $('#title').removeClass('display');
    } else {
      $('#title').addClass('display');
    }
  });

    pickerIsSmoke.on('picker.select', function(selectedVal, selectedIndex) {
      showSmoke.innerText = dataIsSmoke[selectedIndex[0]].text;
      if (dataIsSmoke[selectedIndex].value == 2) {
        $('#title').removeClass('display');
      } else {
        $('#title').addClass('display');
      }
   });
   
   pickerIsDiabetes.on('picker.select', function(selectedVal, selectedIndex) {
      showDiabetes.innerText = dataIsDiabetes[selectedIndex[0]].text;
      if (dataIsDiabetes[selectedIndex].value == 2) {
        $('#title').removeClass('display');
      } else {
        $('#title').addClass('display');
      }
   });
   
   pickerIsCardiopathy.on('picker.select', function(selectedVal, selectedIndex) {
      showCardiopathy.innerText = dataIsCardiopathy[selectedIndex[0]].text;
      if (dataIsCardiopathy[selectedIndex].value == 2) {
        $('#title').removeClass('display');
      } else {
        $('#title').addClass('display');
      }
   });
   
   pickerIsSurgery.on('picker.select', function(selectedVal, selectedIndex) {
      showSurgery.innerText = dataIsSurgery[selectedIndex[0]].text;
      if (dataIsSurgery[selectedIndex].value == 2) {
        $('#title').removeClass('display');
      } else {
        $('#title').addClass('display');
      }
   });
   
   pickerIsKnowRelative.on('picker.select', function(selectedVal, selectedIndex) {
      showRelative.innerText = dataIsKnowRelative[selectedIndex[0]].text;
      if (dataIsKnowRelative[selectedIndex].value == 3) {
        $('#title').removeClass('display');
      } else {
        $('#title').addClass('display');
      }
   });
   
   pickerIsKnowArteriosclerosis.on('picker.select', function(selectedVal, selectedIndex) {
      showArteriosclerosis.innerText = dataIsKnowArteriosclerosis[selectedIndex[0]].text;
      if (dataIsKnowArteriosclerosis[selectedIndex].value == 3) {
        $('#title').removeClass('display');
      } else {
        $('#title').addClass('display');
      }
   });
  
  showSex.addEventListener('click', function() {
    pickerSex.show();
  });
  
  showSmoke.addEventListener('click', function() {
    pickerIsSmoke.show();
  });
  
  showDiabetes.addEventListener('click', function() {
    pickerIsDiabetes.show();
  });
  
  showCardiopathy.addEventListener('click', function() {
    pickerIsCardiopathy.show();
  });
  
  showSurgery.addEventListener('click', function() {
    pickerIsSurgery.show();
  });
  
  showRelative.addEventListener('click', function() {
    pickerIsKnowRelative.show();
  });
  
  showArteriosclerosis.addEventListener('click', function() {
    pickerIsKnowArteriosclerosis.show();
  });
  
  if(showSex.innerText =="" || showSmoke.innerText =="" || showDiabetes.innerText == "" || showCardiopathy.innerText == "" || showSurgery.innerText == "" || showRelative.innerText == "" || showArteriosclerosis.innerText == ""){
    
  }
  </script>
</body>

</html>
