<!DOCTYPE html>
<html lang="en">

<head>
  <title>弗明汉心脏风险评估</title>
  <% include ../layout/layout %>
    <link rel="stylesheet" href="<%=_src('/css/assessment/assessment.min.css')%>">
    <script src="<%=_src('/lib/picker/picker.min.js')%>"></script>
    <script>
    var url = '<%-url%>';
    var pathName = "<%=_src('/father')%>"//获取当前Url
    wxconfig();
      //ajax请求config配置参数
    function wxconfig() {
      $.ajax({
       type: "get",
       url: pathName+"/signature",
       data: {url:location.href},
       success: function(msg){
          //配置微信JS-SDK
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: msg.appId, // 必填，公众号的唯一标识
            timestamp:msg.timestamp , // 必填，生成签名的时间戳
            nonceStr: msg.nonceStr, // 必填，生成签名的随机串
            signature: msg.signature,// 必填，签名，见附录1
            jsApiList: ['onMenuShareAppMessage','onMenuShareTimeline'],// 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
       },
       error:function(err){
          console.log(err);
       }
      });
    };
    wx.ready(function () {
    // 在这里调用 API
    // 分享给朋友
      wx.onMenuShareAppMessage({
          title: '十年心脏病风险预测', // 分享标题
          desc: `我正在做心脏风险自测，你也赶紧来测一测吧！`, // 分享描述
          link: 'http://pci.qcxin.com/pci-wechat-h5/assessment/risk', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
          imgUrl: 'http://pci.qcxin.com/pci-wechat/image/assessment/331506325982_.pic_hd.jpg', // 分享图标
          success: function () { 
              // 用户确认分享后执行的回调函数
          },
          cancel: function () { 
              // 用户取消分享后执行的回调函数
          },
      });
      // 分享到朋友圈
      wx.onMenuShareTimeline({
          title: '十年心脏病风险预测', // 分享标题
          link: 'http://pci.qcxin.com/pci-wechat-h5/assessment/risk', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
          imgUrl: 'http://pci.qcxin.com/pci-wechat/image/assessment/331506325982_.pic_hd.jpg', // 分享图
          success: function () { 
              // 用户确认分享后执行的回调函数
          },
          cancel: function () { 
              // 用户取消分享后执行的回调函数
          }
      });  
    });
    </script>
</head>

<body>
  <p class="risk-top">弗明汉心脏病研究（Framingham Heart Study）名十年心脏病风险评估，是根据胆固醇水平和非胆固醇因素计算个体未来十年冠心病发作几率的方法。</p>
  <div class="showPicker">1 您的性别
    <span id="showSex"></span>
  </div>
  <div class="showPicker">2 您的年龄
    <span id="showAge"></span>
  </div>
  <div class="showPicker">3 您是否吸烟
    <span id="showSmoke"></span>
  </div>
  <div class="showPicker">4 总胆固醇 (mmol/L)
    <span id="showCholesterol"></span>
  </div>
  <div  class="showPicker">5 高密度脂蛋白 (mmol/L)
    <span id="showGoodCholesterol"></span>
  </div>
  <div class="showPicker">6 高压水平 (mmol/L)
    <span id="showPressure"></span>
  </div>
  <div class="showPicker" style="border-bottom: 1px solid #dcdcdc;">7 您是否服用过降压药
    <span id="showHypotensor"></span>
  </div>
  <input id="title" type="text" name="title" class="display">
  <div class="account-btn" style="margin-bottom: 20px;">
    <button type="button" onclick="submit()" id="riskbtn" class="weui-btn" disabled style="background:#ccc;">提交</button>
  </div>
  <div id="modal" style="display: none">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
      <div class="weui-dialog__hd"><strong class="weui-dialog__title">提示信息</strong></div>
      <div class="weui-dialog__bd" id="message">
      </div>
      <div class="weui-dialog__ft">
        <a id="close" href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  var HDL; //高密度脂蛋白
  var TC; //总胆固醇
  var age; //年龄
  var cure; //是否治疗 0否 1是 
  var sex; //性别
  var smoke; //是否吸烟 0否 1是 
  var systolic; //血压

  var showSex = document.getElementById('showSex');
  var showAge = document.getElementById('showAge');
  var showSmoke = document.getElementById('showSmoke');
  var showCholesterol = document.getElementById('showCholesterol');
  var showGoodCholesterol = document.getElementById('showGoodCholesterol');
  var showPressure = document.getElementById('showPressure');
  var showHypotensor = document.getElementById('showHypotensor');
 

  var dataSex = [{
    text: '男',
    value: 0
  }, {
    text: '女',
    value: 1
  }];

  var dataAge = [{
    text: '20-34',
    value: 0
  }, {
    text: '35-39',
    value: 1
  }, {
    text: '40-44',
    value: 2
  }, {
    text: '45-49',
    value: 3
  }, {
    text: '50-54',
    value: 4
  }, {
    text: '55-59',
    value: 5
  }, {
    text: '60-64',
    value: 6
  }, {
    text: '65-69',
    value: 7
  }, {
    text: '70-74',
    value: 8
  }, {
    text: '75-79',
    value: 9
  }];

  var dataIsSmoke = [{
    text: '否',
    value: 0
  }, {
    text: '是',
    value: 1
  }];

  var dataCholesterol = [{
    text: '<4',
    value: 0
  }, {
    text: '4-4.9',
    value: 1
  }, {
    text: '5-5.9',
    value: 2
  }, {
    text: '6-6.9',
    value: 3
  }, {
    text: '≧7',
    value: 4
  }];

  var dataTreatment = [{
    text: '<1',
    value: 0
  }, {
    text: '1-1.29',
    value: 1
  }, {
    text: '1.3-1.59',
    value: 1
  }, {
    text: '≧1.6',
    value: 1
  }];

  var dataPressure = [{
    text: '<120',
    value: 0
  }, {
    text: '120-129',
    value: 1
  }, {
    text: '130-139',
    value: 2
  }, {
    text: '140-159',
    value: 3
  }, {
    text: '160+',
    value: 4
  }];

  var dataHypotensor = [{
    text: '否',
    value: 0
  }, {
    text: '是',
    value: 1
  }];

  var pickerSex = new Picker({
    data: [dataSex],
    selectedIndex: [-1],
    title: '您的选择'
  });

  var pickerAge = new Picker({
    data: [dataAge],
    selectedIndex: [-1],
    title: '您的选择'
  });

  var pickerIsSmoke = new Picker({
    data: [dataIsSmoke],
    selectedIndex: [-1],
    title: '您的选择'
  });

  var pickerCholesterol = new Picker({
    data: [dataCholesterol],
    selectedIndex: [-1],
    title: '您的选择'
  });

  var pickerGoodCholesterol = new Picker({
    data: [dataTreatment],
    selectedIndex: [-1],
    title: '您的选择'
  });

  var pickerPressure = new Picker({
    data: [dataPressure],
    selectedIndex: [-1],
    title: '您的选择'
  });

  var pickerHypotensor = new Picker({
    data: [dataHypotensor],
    selectedIndex: [-1],
    title: '您的选择'
  });


  function ifFull() {
    if (HDL != undefined && TC != undefined && age != undefined && cure != undefined && sex != undefined && smoke != undefined && systolic != undefined) {
      $('#riskbtn').removeAttr('disabled');
      $('#riskbtn').css('background', '#35B2F2');
    }
  }

  pickerSex.on('picker.select', function(selectedVal, selectedIndex) {
    showSex.innerText = dataSex[selectedIndex[0]].text;
    sex = dataSex[selectedIndex].value;
    ifFull();
  });

  pickerAge.on('picker.select', function(selectedVal, selectedIndex) {
    showAge.innerText = dataAge[selectedIndex[0]].text;
    age = dataAge[selectedIndex].value;
    ifFull();
  });

  pickerIsSmoke.on('picker.select', function(selectedVal, selectedIndex) {
    showSmoke.innerText = dataIsSmoke[selectedIndex[0]].text;
    smoke = dataIsSmoke[selectedIndex].value;
    ifFull();
  });

  pickerCholesterol.on('picker.select', function(selectedVal, selectedIndex) {
    showCholesterol.innerText = dataCholesterol[selectedIndex[0]].text;
    TC = dataCholesterol[selectedIndex].value;
    ifFull();
  });

  pickerGoodCholesterol.on('picker.select', function(selectedVal, selectedIndex) {
    showGoodCholesterol.innerText = dataTreatment[selectedIndex[0]].text;
    HDL = dataTreatment[selectedIndex].value;
    ifFull();
  });

  pickerPressure.on('picker.select', function(selectedVal, selectedIndex) {
    showPressure.innerText = dataPressure[selectedIndex[0]].text;
    systolic = dataPressure[selectedIndex].value;
    ifFull();
  });

  pickerHypotensor.on('picker.select', function(selectedVal, selectedIndex) {
    showHypotensor.innerText = dataHypotensor[selectedIndex[0]].text;
    cure = dataHypotensor[selectedIndex].value;
    ifFull();
  });

  showSex.addEventListener('click', function() {
    pickerSex.show();
  });

  showAge.addEventListener('click', function() {
    pickerAge.show();
  });

  showSmoke.addEventListener('click', function() {
    pickerIsSmoke.show();
  });

  showCholesterol.addEventListener('click', function() {
    pickerCholesterol.show();
  });

  showGoodCholesterol.addEventListener('click', function() {
    pickerGoodCholesterol.show();
  });

  showPressure.addEventListener('click', function() {
    pickerPressure.show();
  });

  showHypotensor.addEventListener('click', function() {
    pickerHypotensor.show();
  });
  function submit() {
    var list = {
      "HDL": HDL,
      "TC": TC,
      "age": age,
      "cure": cure,
      "sex": sex,
      "smoke": smoke,
      "systolic": systolic
    };
    $.ajax({
      url: url,
      type: "POST",
      data: JSON.stringify(list),
      contentType: 'application/json',
      dataType: 'json',
      success: function(data) {
        if (data.code === 0) {
          window.open(window.location.pathname + "/risk?v=" + (new Date().getTime()), '_self');
        } else {
          var msg;
          if (data.msg) {
            msg = data.msg;
          } else {
            msg = '提交失败！';
          }
          $('#message').text(msg);
          $('#modal').css('display', 'block');
        }
      },
      error: function() {
        $('#message').text('请求失败！');
        $('#modal').css('display', 'block');
      }
    });
  }
  $('#close').on('click', function() {
    $('#modal').css('display', 'none');
  });
  </script>
</body>

</html>
