<!DOCTYPE html>
<html lang="en">

<head>
  <title>弗明汉心脏风险评估</title>
  <% include ../layout/layout %>
</head>

<body style="background-color:#ddd">
  <p style="margin:15px;color:#888;font-size:16px">弗明汉心脏病研究（Framingham Heart Study）名十年心脏病风险评估，是根据胆固醇水平和非胆固醇因素计算个体未来十年冠心病发作几率的方法。</p>

</body>

</html>
