body{
	font-family: PingFangSC-Regular;
	color: #666666;
	a{
		color:#6785AA;
	}
}
.detail-container{
	 padding:15px;
}
.weui-article{
	padding:20px 0;
}
.article-span span{
	font-weight: bold;
}
.footer-apply{
	color:#FF0600;
}
.weui-btn_primary{
	background-color: #6785AA;
}