body{
	background-color: #efeff4;
}
.weui-search-bar {
	padding:7px 15px;
}
.info-container {
  padding: 0 15px;
  background-color:#fff;
  border: 1px solid #DCDCDC;
  margin-bottom:10px;
}
.right{
	float:right;
}
.left{
	float:left;
	p{
		font-size:20px;
		padding-top: 3px;
		font-family: PingFangSC-Regular;
		color: #333333;
		font-weight: bold;
	}
}
.clear{
	clear:both;
}
.ovelflow{
	overflow:hidden;
}
.weui-btn_primary{
	background-color:#35B2F2;
	font-size:14px;
}
.activity{
	color:#333;
}
.weui-media-box__bd{
	font-size:14px;
	color:#666;
}
.weui-media-box__title{
	font-size:14px;
	color:#666;
}
.weui-skin_android .weui-dialog__bd {
	text-align: center;
	line-height:2.3;
	border-bottom:1px solid #DDDDDD;
}
.weui-skin_android .weui-dialog__ft{
	padding:0;
}
.weui-skin_android .weui-dialog__btn{
	padding:1px 3.8em;
}
.cancel{
	border-right: 1px solid #ddd;
}
.weui-dialog__btn_primary{
	color:#35B2F2;
}
.weui-media-box{
	padding: 0;
}
.weui-panel__hd{
	padding:14px 0px 10px;
}
.weui-panel__hd:after{
	border:0;
}
.weui-cell:before{
	border:0;
}
.weui-panel__bd{
	border-bottom:1px solid #DCDCDC;
}
.weui-cell{
	padding:10px 0;
}
.cost{
	color:#13C26E;
}
.long{
	color:#DCDCDC;
}
.address{
	height:22px;
	overflow:hidden;                                    
}
.weui-media-box_appmsg .weui-media-box__hd{
	width:30%;
	height:auto;
}
.lecture-right{
	width:60%;
}
.weui-panel:before{
	border-top: 0;
}
.weui-panel:after{
	border-bottom: 0;
}