<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./layout/layout-none %>
    <title>ERROR</title>
    <style type="text/css">
    .error-container {
      color: #333;
      padding: 15px;
    }
    
    .error-title {
      text-align: center;
      font-size: 28px;
    }
    </style>
</head>

<body>
  <div class="error-container">
    <h1 class="error-title"><%=message%></h1>
  </div>
</body>

</html>
