<!DOCTYPE html>
<html lang="en">

<head>
  <title>家庭账号绑定</title>
  <% include ../layout/layout %>
    <link rel="stylesheet" href="<%=_src('/css/basic/account-bind.min.css')%>">
</head>

<body>
  <div class="container">
    <div class="cell">
      <div class="cell-image">
        <img src="http://pci.xlab-tech.com/pci/picture1467613263150mmexport1467613286108.jpg">
      </div>
      <div class="cell-content">
        <p>里斯</p>
      </div>
      <div class="cell-right">
        <span class="red">申请中</span></div>
    </div>
    <div class="cell">
      <div class="cell-image">
        <img src="http://pci.xlab-tech.com/pci/picture1467613263150mmexport1467613286108.jpg">
      </div>
      <div class="cell-content">
        <p>里斯</p>
      </div>
      <div class="cell-right">
        <span>申请中</span></div>
    </div>
    <div class="addition">
      <button class="add-btn"></button>
      <span>添加新家庭成员</span>
    </div>
  </div>
</body>

</html>
