<!DOCTYPE html>
<html lang="en">

<head>
  <title>家庭账号绑定</title>
  <% include ../layout/layout %>
    <link rel="stylesheet" href="<%=_src('/css/basic/account-bind.min.css')%>">
</head>

<body>
  <div class="container">
    <%for(let i = 0; i < content.length; i++) {%>
      <div class="cell">
      <div class="cell-image">
        <img src="<%=content[i].avatarUrl%>">
      </div>
      <div class="cell-content">
        <p><%=content[i].name%></p>
      </div>
      <div class="cell-right">
        <span></span>
      </div>
      </div>
    <%}%>
    <div class="addition">
      <a class="add-btn" href="<%=_src('/family/add')%>"></a>
      <span>添加新家庭成员</span>
    </div>
  </div>
</body>

</html>
