body {
  background-color: #f5f5f5;
  color: #333;
}

.risk-top {
  margin: 5px 15px;
  color:#666;
  font-size:15px
}

.showPicker {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 5px 15px;
  border-top: 1px solid #dcdcdc;
  font-size: 16px;
  background-color: #fff;
  img {
    background: url(../../image/icon-explain.png) no-repeat right center;
  }
  span {
    display: block;
    width: 30%;
    height: 40px;
    float: right;
    background: url(../../image/icon-arrow-down.png) no-repeat right center;
    background-size: 15px;
    margin-left: 10px;
  }
  input {
    width: 60px;
    height: 30px;
    // float: right;
    margin: 5px 0;
    border: none;
  }
}
#age {
  float:right;
}

input {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  outline: 0;
  -webkit-appearance: none;
  padding: 0 15px;
  font-size: 16px;
  color: #666;
}

input:focus {
  outline: none;
}

input#title {
  border-top: none;
}

.display {
  display: none;
}

.account-btn {
  padding-top: 30px;
  width:90%;
  margin: 0 auto;
}
.weui-btn_primary {
  background-color: #35B2F2 !important;
}

.picker-choose {
  height: 46px !important;
  line-height: 46px !important;
  border-bottom: 1px solid #dcdcdc !important;
}

.picker-title,
.wheel-item {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.picker .picker-panel .picker-choose .cancel,
.picker .picker-panel .picker-choose .confirm {
  padding: 0 10px !important;
  top: 0 !important;
}

.picker .picker-panel .picker-choose .confirm {
  color: #35B2F2 !important;
}

.result {
  background:#FFFFFF;
  border:1px solid #CCCCCC;
  border-radius:6.5px;
  margin:10px;
  padding:10px;
  height:142.5px
}

.result-title {
  color:#333;
  font-size:16px;
  line-height:22.5px;
}

.result-date{
  color:#999;
  font-size:14px;
}

.result-content{
  color:#666;
  font-size:14px;
  line-height:20px;
}

.result-btn {
  background-color:#35B2F2;
  border-radius:3.5px;
  font-size:14px;
  color:#fff;
  width:70px;
  height:25px;
  border:none;
  float:right
}
.result-btn:focus {
  outline:none;
}
.result-grade {
  color:#ff0000;
  // color:#f5a623;
  // color:#13c26e;
}