<!DOCTYPE html>
<html lang="en">
<head>
  <title>查看随访计划</title>
  <% include ../layout/layout %>
  <script type="text/javascript">
    var share = new share("<%=_src('')%>") //jssdk分享页面
  </script>
  <style>
    body{
      background: #ebebeb;
      color: #666;
    }
    .weui-cells{
      margin-top: 0;
    }
    .cycle{
      margin-top: 10px;
      background: #fff;
    }
  </style>
</head>

<body ontouchstart>
  <div class="followup_plan_detail">
    <div class="follow_up_time">
      <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>计划开始时间</p>
        </div>
        <div class="weui-cell__ft"><%=flupDetail.planDate%></div>
      </div>
      <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
                <p>随访周期</p>
            </div>
            <div class="weui-cell__ft">请您按计划复查项目</div>
        </div>
      </div>
    </div>
    <div class="follow_up_cycle">
      <% for (let i = 0; i < flupDetail.flupList.length; i++) { %>
        <div class="cycle">
          <div class="weui-cell">
              <div class="weui-cell__bd">
                <% if (i === 0) {%>
                  <p>一个月后</p>
                <% } %>
                <% if (i === 1) {%>
                  <p>三个月后</p>
                <% } %>
                <% if (i === 2) {%>
                  <p>六个月后</p>
                <% } %>
                <% if (i === 3) {%>
                  <p>九个月后</p>
                <% } %>
                <% if (i === 4) {%>
                  <p>十二个月后</p>
                <% } %>
              </div>
              <div class="weui-cell__ft">2016/05/27</div>
          </div>
            <% for (let j = 0; j < flupDetail.flupList[i].length; j++) { %>
              <div class="weui-cell">
                  <div class="weui-cell__bd">
                      <p><%=flupDetail.flupList[i][j]%></p>
                  </div>
                  <div class="weui-cell__ft"></div>
              </div>
            <% } %>
        </div>
      <% } %>
    </div>
  </div>
</body>
<script>

$(document).ready(function(){
  
})
  
</script>
</html>
