<!DOCTYPE html>
<html lang="en">
<head>
  <title>查看随访计划</title>
  <% include ../layout/layout %>
  <script type="text/javascript">
    var share = new share("<%=_src('')%>") //jssdk分享页面
  </script>
  <style>
    body{
      background: #ebebeb;
      color: #666;
    }
    .weui-cells{
      margin-top: 0;
    }
    .cycle{
      margin-top: 10px;
      background: #fff;
    }
  </style>
</head>

<body ontouchstart>
  <div class="followup_plan_detail">
    <div class="follow_up_time">
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__ft">请您按计划复查项目</div>
        </div>
      </div>
    </div>
    <div class="follow_up_cycle">
    <% if (flupDetail && Array.isArray(flupDetail)) {%>
      <% for (var i = 0; i < flupDetail.length; i++) { %>
        <div class="cycle">
          <div class="weui-cell">
            <div class="weui-cell__bd">
              <p><%=flupDetail[i].date%> <%=flupDetail[i].dayOfWeek%></p>
            </div>
          </div>
          <% for (var j = 0; j < flupDetail[i].items.length; j++) { %>
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <p><%=flupDetail[i].items[j].name%></p>
              </div>
              <% if (flupDetail[i].items[j].check == true) {%>
                <div class="weui-cell__ft">已复查</div>
              <% } %>
            </div>
          <% } %>
        </div>
      <% } %>
    <% } %>
    </div>
  </div>
</body>
</html>
