
<!DOCTYPE html>
<html lang="en">

<head>
  <title>上传病历</title>
  <% include ../layout/layout %>
  <script type="text/javascript">
    var qiniuUrl = "<%=qiniuUrl%>" //获取七牛接口域名
    var healthUrl = "<%=healthUrl%>" // 获取上传图片接口
    var userId = "<%=userId%>"
    var share = new share("<%=_src('')%>") //jssdk分享页面
  </script>
  <style>
    body{
      background: #ebebeb;
      color: #666;
    }
    .weui-cell{
      background: #fff;
      border-bottom: 1px solid #ccc;
    }
    .weui-cells{
      margin-top: 0;
    }
    .friendly_reminder{
      padding: 10px 15px;
    }
    .friendly_reminder h3{
      color:#666;
    }
    .friendly_reminder p{
      color: #999;
    }
    .page__bd{
      padding: 0 15px;
    }
    .weui-uploader__bd{
      overflow: initial;
    }
    .upload_img a{
      background: #35B2F2;
    }
    .weui-btn_primary:not(.weui-btn_disabled):active{
      background-color: #6fc8f6;
    }
    .weui-uploader__file{
      position: relative;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      width: 79px;
      height: 79px;
      background: no-repeat 50%;
      background-size: cover;
    }
    .weui-uploader__file i{
      position: absolute;
      right: -12px;
      top: -10px;
      z-index: 10;
      width: 30px;
      height: 30px;
    }
    .error{
      color: #da322e;
      font-size: 14px;
      padding: 0 15px;
      text-align: center;
      display: none;
      line-height: 25px;
    }
  </style>
</head>

<body ontouchstart>
  <div class="uploadCaseHistory">
    <div class="weui-cell weui-cell_access checkDate">
      <div class="weui-cell__bd">
          <span style="vertical-align: middle">检查时间</span>
      </div>
      <div class="weui-cell__ft confirmDate"></div>
    </div>
    <div class="weui-cells weui-cells_form" id="uploader">
       <div class="weui-cell">
           <div class="weui-cell__bd">
               <div class="weui-uploader">
                   <div class="weui-uploader__hd">
                       <p class="weui-uploader__title">上传图片</p>
                       <div class="weui-uploader__info"><span id="number">0</span>/9</div>
                   </div>
                   <div class="weui-uploader__bd">
                       <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                       <div class="weui-uploader__input-box add"></div>                   
                   </div>
               </div>
           </div>
       </div>
    </div>
    <div class="friendly_reminder">
      <h3>友情提示</h3>
      <p>如有问题，我们将与您电话联系，我们电话为400-112-1881</p>
    </div>
    <div class="error"></div>
    <div class="page__bd page__bd_spacing upload_img">
      <a href="javascript:;" class="weui-btn weui-btn_primary" id="uploaderCustomBtn">确定上传</a>
    </div>
    <div id="dialogs">
      <div class="js_dialog" id="iosDialog2" style="display: none;">
          <div class="weui-mask"></div>
          <div class="weui-dialog">
              <div class="weui-dialog__bd">您已上传成功，平台将在7个工作日内完成电子化处理。您可点击菜单中的“电子病历”进行查询</div>
              <div class="weui-dialog__ft">
                  <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</body>
<script>
$(document).ready(function(){

  $('.confirmDate').html(`${new Date().getFullYear()}-${new Date().getMonth() + 1}-${new Date().getDate()}`)
  // // 获取七牛token和domain
  // var domain;
  // var token;
  // $.ajax({
  //   type: 'get',
  //   url: `${qiniuUrl}api/qiniu/auth`,
  //   success: function (res) {
  //     if (res && res.code === 0) {
  //       domain = res.data.domain
  //       token = res.data.token
  //     }
  //   },
  //   error: function (error) {
  //     console.log(error)
  //   }
  // })

  $(".checkDate").on('click',function () {
    let Y = new Date().getFullYear();
    let M = new Date().getMonth() + 1;
    let D = new Date().getDate();
    weui.datePicker({
        start: 1990,
        end: new Date().getFullYear(),
        defaultValue: [Y, M, D],
        onChange: function (result) {
          
        },
        onConfirm: function (result) {
          $('.confirmDate').html(`${result[0].value}-${result[1].value}-${result[2].value}`)
        }
    });
  })

  var count = 0;
  var number = 0;
  var imglist = [];
  var uploadCustomFileList = [];

  function ajax(imglist) {
    $.ajax({
      url: pathName +'/uploadimg',
      type: 'post',
      data: JSON.stringify(imglist),
      success: function (msg) {
        console.log(msg);
      },
      error: function (err) {
        alert(err)
        console.log(err)
      }
    })
  }

  $('.weui-uploader__input-box').on('click', function () {
    wx.chooseImage({
        count: 9, // 默认9
        sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
        sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
        success: function (res) {
          var localIds = res.localIds;
          for (let i = 0; i < localIds.length; i++) {
            uploadCustomFileList.push({id: count + i, url: localIds[i]});
            $("#uploaderFiles").append(`<li class="weui-uploader__file image" id="${count+i}"><i class="weui-icon-cancel delete"></i><img class="img-responsive" style="width:79px;height:79px;" src="${localIds[i]}"></li>`)
            number++;
            if (number >= 9) {
              $(".add").fadeOut(100)
              break;
            }
          }
          count = count + localIds.length;
          
          $("#number").text(number)
        }
    });
  });


  $("#uploaderCustomBtn").on('click', function(){
    let urlList = [];
    uploadCustomFileList.forEach(function(file){
      urlList.push(file.url)
      if (urlList.length === number) {
        syncUpload(urlList);
      }
    });
  })

  $("#uploaderFiles").on('click', '.delete', function(e){
    var id = $(this).parent().attr('id')
    weui.confirm('确定删除该图片？', function(){
      --number;
      $('#number').text(number);
      if (number < 9) {
        $(".add").fadeIn(100)
      }
      var index;
      for (let i = 0, len = uploadCustomFileList.length; i < len; ++i) {
        var file = uploadCustomFileList[i];
        if(file.id == id){
          index = i;
          break;
        }
      }
      if(index !== undefined) uploadCustomFileList.splice(index, 1);

      e.target.parentNode.remove();
    });
  });

var syncUpload = function(localIds){
    var localId = localIds.pop();
    wx.uploadImage({

        localId: localId,

        isShowProgressTips: 1,

        success: function (res) {

            var serverId = res.serverId; // 返回图片的服务器端ID
            imglist.push(serverId)
            if (imglist.length === number) {
              ajax(imglist)
            }
            //其他对serverId做处理的代码

            if(localIds.length > 0){
                syncUpload(localIds);
            }
        }
    });
};



  $('#dialogs').on('click', '.weui-dialog__btn', function(){
    $(this).parents('.js_dialog').fadeOut(200);
    wx.closeWindow();
  });
})



// 提交数据
function ajax(picUrlList) {
  let data = {
    imgUrlList: picUrlList,
    checkDate: $('.confirmDate').text(),
    userId: userId
  }
  $.ajax({
    type: 'post',
    url: `${healthUrl}record/photo/upload`,
    headers:{
      'healthClient': 'pci'
    },
    data: JSON.stringify(data),
    processData: false,
    contentType: 'application/json;charset=UTF-8',
    success: function (success) {
      if ( success && success.code === 0) {
        $('#iosDialog2').fadeIn(200);
      } else {
        $(".error").css({'display': 'block'})
        $(".error").html(success.msg || '上传失败')
      }
    },
    error: function (error) {
      console.log(error);
    }
  })
}
  
</script>
</html>
